<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="sql" connectionString="Data Source=192.168.0.20,1433;Initial Catalog=fake_target_claydesign_com;User ID=Rendition;Pwd=000000;Asynchronous Processing=true;MultipleActiveResultSets=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="connectionName" value="sql"/>
		<add key="ElevatedSecurityUser" value="Rendition"/>
		<add key="ElevatedSecurityPassword" value="000000000000"/>
		<add key="ElevatedSecurityDomain" value="127.0.0.1"/>
		<add key="UseFormsBasedAuth" value="True"/>
		<add key="Localization" value="~/Localization.xml"/>
    
    <!-- Custom Database Auth Table Info -->
    <add key="AlternateDatabase" value="True"/>
    <add key="UserTable" value="Users"/>
    <add key="PasswordColumn" value="Password"/>
    <add key="UserNameColumn" value="Email"/>
    <add key="AdminColumn" value="Administrator"/>
    <add key="SessionTable" value="Sessions"/>
    <add key="SessionIdColumn" value="SessionId"/>
    <add key="SessionUserIdColumn" value="UserId"/>
    
    <!-- No database admin name and password -->
    <add key="AdminUserName" value="Admin"/>
    <add key="AdminPassword" value="000000"/>
    
	</appSettings>
	<system.webServer>
		<modules>
			<add name="Rendition.main" type="Rendition.Main"/>
		</modules>
		<handlers>
			<!-- Enable for 32 bit servers 
                        <add name="aspnet_isapi 32-bit" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
                        -->
			<!--Enable for 64 bit servers-->
			<add name="aspnet_isapi 64-bit" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64"/>
		</handlers>
	</system.webServer>
	<system.web>
    <httpRuntime maxRequestLength="4194302" maxQueryStringLength="20000" requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <compilation debug="true"/>
  </system.web>
</configuration>
