<?xml version="1.0"?>
<configuration>
	<connectionStrings>
    <add name="sql" connectionString="Data Source=192.168.0.20,1433;Initial Catalog=www_tacticallyarmedcitizen_com;User ID=www_tacticallyarmedcitizen_com;Pwd=trevorhashomosexualtendencies;Asynchronous Processing=true;MultipleActiveResultSets=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="connectionName" value="sql"/>
		<add key="ElevatedSecurityUser" value="Tony"/>
		<add key="ElevatedSecurityPassword" value="revolver"/>
		<add key="ElevatedSecurityDomain" value="127.0.0.1"/>
		<add key="UseFormsBasedAuth" value="True"/>
     
	</appSettings>
  
	<system.webServer>
		<modules>
			<add name="Rendition.Main" type="Rendition.Main"/>
		</modules>
		<handlers>
			<!-- Enable for 32 bit servers 
                        <add name="aspnet_isapi 32-bit" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
                        -->
			<!--Enable for 64 bit servers-->
			<add name="aspnet_isapi 64-bit" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64"/>
		</handlers>
	</system.webServer>
	<system.web>
    <httpModules>
      <clear/>
      <add type="Rendition.Main" name="Rendition.Main"/>
    </httpModules>
    <httpRuntime maxRequestLength="4194302" maxQueryStringLength="20000" requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <compilation debug="true"/>
  </system.web>
</configuration>
