<?xml version="1.0" encoding="utf-8"?>
<topic id="{!var AMLID = generateAMLIDHASH(data.alias); if(JSDOC.AMLIDS[AMLID]!==undefined){print('Conflict '+data.alias+' = '+JSDOC.AMLIDS[AMLID]+" => "+AMLID)}else{ JSDOC.AMLIDS[AMLID] = data.alias } output+=AMLID !}" revisionNumber="1" dataAlias="{+data.alias+}">
	<developerConceptualDocument xmlns="http://ddue.schemas.microsoft.com/authoring/2003/5" xmlns:xlink="http://www.w3.org/1999/xlink">
		<introduction address="Intro">
			{+data.alias+}{+makeSignature(data.params)+}	
			<para>{+resolveLinks(data.desc)+}</para>
		</introduction>
		<definitionTable>
			<if test="data.author">
				<definedTerm>
					<para>Author</para>
				</definedTerm>
				<definition>
					<para>
						{+data.author+}
					</para>
				</definition>
			</if>
			<if test="data.memberOf">
				<definedTerm>
					<para>Member Of</para>
				</definedTerm>
				<definition>
					<para>
						{+resolveLinks('<link xlink:href="'+data.memberOf+'"/>')+}
					</para>
				</definition>
			</if>
			<if test="data.srcFile">
				<definedTerm>
					<para>Source</para>
				</definedTerm>
				<definition>
					<para>
						{+pathSrcFile(data.srcFile)+}
					</para>
				</definition>
			</if>
		</definitionTable>
		<section address="parameters">
		<title>Event Signature</title>
			<sections>
				<table>
					<tableHeader>
					<row>
						<entry><para> </para></entry>
						<entry><para>Name</para></entry>
						<entry><para>Description</para></entry>
					</row>
					</tableHeader>
					<for each="item" in="data.params">
						<row>
							<entry>
								<para>
									<if test="item.isOptional">Optional</if>
									<if test="!item.isOptional">Required</if>
									{+item.name+}
									{+((item.type)? resolveLinks('<link xlink:href="'+item.type+'"/>') : "")+}
								</para>
							</entry>
							<entry>
								<para>
									{+resolveLinks(item.desc)+}
								</para>
							</entry>
							<entry>
								<para>
									<if test="item.defaultValue">{+item.defaultValue+}</if>
								</para>
							</entry>
						</row>
					</for>
				</table>
			</sections>
		</section>
		<alert class="tip">
			<para>There are two ways to add event listeners.</para>
		</alert>
		<para>
			1. You can attach to events as a parameter when you create the object.
			<code language="javascript">
				var foo = new object({
					event:function(signature){
						/* event procedure */
					}
				});
			</code>
			2. Or you can add the event after the object has been instantiated.
			<code language="javascript">
				var foo = new object();
				foo.addEventListener('event',function(signature){
					/* event procedure */
				}, false);
			</code>
		</para>
	</developerConceptualDocument>
</topic>