<?xml version="1.0" encoding="utf-8"?>
<topic id="{!var AMLID = generateAMLIDHASH("PS"+data.alias); if(JSDOC.AMLIDS[AMLID]!==undefined){print('Conflict '+data.alias+' = '+JSDOC.AMLIDS[AMLID]+" => "+AMLID)}else{ JSDOC.AMLIDS[AMLID] = data.alias } output+=AMLID !}" revisionNumber="1" dataAlias="{+data.alias+}">
	<developerConceptualDocument xmlns="http://ddue.schemas.microsoft.com/authoring/2003/5" xmlns:xlink="http://www.w3.org/1999/xlink">
		{!
			var classType = "";
			if (data.isBuiltin()) {
				classType += "Built-In ";
			}
			if (data.isNamespace) {
				if (data.is('FUNCTION')) {
					classType += "Function ";
				}
				classType += "Namespace ";
			} else {
				classType += "Class ";
			}
			var ownProperties = data.properties.filter(function($){return $.memberOf == data.alias && !$.isNamespace}).sort(makeSortby("name"));
		!}
		<definitionTable>
			<if test="data.memberOf">
				<definedTerm>
					<para>Member Of</para>
				</definedTerm>
				<definition>
					<para>
						{+resolveLinks('<link xlink:href="'+data.memberOf+'"/>')+}
					</para>
				</definition>
			</if>
		</definitionTable>
		<if test="defined(ownProperties) && ownProperties.length">
			<section address="fields">
				<title>{+data.alias+} Properties</title>
				<content>
					<table>
						<tableHeader>
							<row>
								<entry><para> </para></entry>
								<entry><para>Type</para></entry>
								<entry><para>Name</para></entry>
								<entry><para>Description</para></entry>
							</row>
						</tableHeader>
						<for each="member" in="ownProperties">
							<row>
								<entry>
									<para>
										<if test="member.isPrivate">
											<mediaLinkInline><image xlink:href="privateproperty"/></mediaLinkInline>
										</if>
										<if test="!member.isPrivate">
											<mediaLinkInline><image xlink:href="publicproperty"/></mediaLinkInline>
										</if>
									</para>
								</entry>
								<entry>
									<para>
										<if test="member.type">
											{+resolveLinks('<link xlink:href="'+member.type+'"/>')+}
										</if>
									</para>
								</entry>
								<entry>
									<para>
										{+resolveLinks('<link xlink:href="'+'P'+data.alias+'#'+member.name+'"/>')+}
									</para>
								</entry>
								<entry>
									<para>
										{+resolveLinks(member.desc)+}
									</para>
								</entry>
							</row>
						</for>
					</table>
				</content>
			</section>
		</if>

	</developerConceptualDocument>
</topic>